/**
 * David McQueen
 * 10153465
 * December 2014
 */

body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
}

input:required:invalid,
input:focus:invalid { border-color:red; }

.modal-backdrop{
    z-index:0;
}
